*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../Img/backRound.jpg);
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.img {
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 500px;
}
.card {
    max-width: 400px;
    max-height: 700px;
    padding: 16px;
    background-color: #ffffff;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}
.btn {
    padding: 8px;
}