*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #cc94c4;
    font-family: 'Open Sans', sans-serif;
}
.h1 {
    position: relative;
    top: 10px;
    text-align: center;
    color: rgb(243, 210, 227);
}
.link {
    text-decoration: none;
    text-align: center;
    color: rgb(236, 227, 231);
    font-weight: 500;
    padding-top: 10px;
}
.container {
    margin: 0 auto;
    margin-bottom: 50px;
 }
 .box {
    display: grid;
    place-items: center;
    grid-template-columns : repeat(4, 1fr);
    gap: 20px;
    position: relative;
    top: 20px;
 }
 .img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
 }
.img1 {
    background-image: url('/Preview/Снимок.PNG');
}
.img2 {
    background-image: url('/Preview/Снимок.PNG2.PNG');
}
.img3 {
    background-image: url('/Preview/Снимок.PNG3.PNG');
    background-position: 40% 50%;
}
.img4 {
    background-image: url('/Preview/Снимок.PNG4.PNG');
    background-position: 45% 50%;
}
.img5 {
    background-image: url('/Preview/Снимок.PNG5.PNG');
    background-position: 50% 50%;
}
.img6 {
    background-image: url('/Preview/Снимок.PNG6.PNG');
    background-position: 50% 50%;
}
.img7 {
    background-image: url('/Preview/Снимок.PNG7.PNG');;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: auto;
}
.img8 {
    background-image: url('/Preview/Снимок.PNG8.PNG');
    background-position: 50% 50%;
}
.img9 {
    background-image: url('/Preview/Снимок.PNG9.PNG');
    background-position: 40% 50%;
}
.img10 {
    background-image: url('/Preview/Снимок.PNG10.PNG');
    background-position: 55% 50%;
}