*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2d2845;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 auto;
 }
.container.Header {
    background-color: #1f1c31;
 }
 .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
  }
.header-logo {
    font-size: 32px;
    text-decoration: none;
    color: #ffffff;
 }
.header-search {
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
}
.backButton { 
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
    color: #acc4ff;
    background-color:#1a191f;
}
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
.movie {
    width: 240px;
    margin: 10px;
    position: relative;
 }
.movie_cover-inner {
    position: relative;
    height: 360px;
 }
.movier-cover {
    width: 100%;
    height: 100%;
 }
.movie-cover-darkened {
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
 }
 .movie-cover-darkened:hover {
    background-color: grey;
    cursor: pointer;
 }
.movie_info {
    padding: 10px 0px;
 }
.movie_title {
    font-size: 16px;
    color: #ffffff;
 }
.movie_category {
    font-size: 14px;
    color: #ffd80e;
 }
 
.movie_average { 
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
}

.movie_average--green {
    border: 1px solid green;
 }
.movie_average--orange {
    border: 1px solid orange;
}
.movie_average--red {
    border: 1px solid red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1a191f;
    transition: width 2s;
    overflow-x: hidden;
    word-wrap: break-word;
}
.modal--show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__card {
    background-color: #4f4a6a;
    max-width: 600px;
    padding: 16px;
    box-shadow: 0 0 20px 0 #000000;
    display: flex;
    flex-direction: column;
 }
.modal__movie-backdrop {
    width: 200px;
    margin: 0 auto;
 }
.modal__movie-info {
    margin-left: 20px;
 }
.modal__movie-site {
    color: #acc4ff;
 }
.modal__button-close {
    padding: 5px;
    margin: 10px;
    align-self: center;
 }
 ul li {
    padding: 5px;
 }
 .stop-scrolling {
    height: 100%;
    overflow: hidden;
 }
