*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5caea;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    max-height: 1000px;
    align-items: center;
    margin: 0 auto;
    padding: 37px;
}
.container p {
    font-size: 16px;
    margin: 10px 0;
    margin-bottom: 10px;
    margin-top: 5px;
}
.image {
    height: 30%;
    width: 30%;
    margin-bottom: 10px;
}
.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    min-width: 320px;
}
.countdown-item {
    background-color: #57295f;
    padding: 6px;
    min-width: 65px;
}
.expired {
  color: #222; 
  margin: 0 auto; 
}