*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(187, 208, 228);
    font-family: "Open Sans", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.title {
    display: flex;
    justify-content: center;
}
.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post {
    padding: 8px;
    border-color: blue;
    border: 1px;
}
.pagination {
    display: flex;
    justify-content: center;
}
.pagination_list {
    display: flex;
    list-style-type: none;
}
.pagination_item {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}
.pagination_item-active {
    font-weight: 800;
    color: gold;
}