*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #69878dbb;
    width: 100%;
    height: 100%;
}
.tv {
    width: 700px;
    height: 400px;
    border-radius: 20px;
    background: url('../img/tv.jpg') 0 0 / cover no-repeat;
    position: absolute;
    top: 28%;
    left: 27.7%;
}
#first { 
    width: 36.5%;
    height: 9.4%;
    background-color: blueviolet;
    position: relative;
    top:  27.7%;
    left: 27.7%;
    z-index: 1;
 }
#second { 
    width: 36.5%;
    height: 9.4%;
    background-color: aqua;
    position: relative;
    top: 27.7%;
    left: 27.7%;
}
#third {
    width: 36.5%;
    height: 9.4%;
    background-color: aquamarine;
    position: relative;
    top: 27.7%;
    left: 27.7%;
 }
#fourth { 
    width: 36.5%;
    height: 9.4%;
    background-color: blue;
    position: relative;
    top: 27.7%;
    left: 27.7%;
}
#fifth {
    width: 36.5%;
    height: 9.37%;
    background-color: blueviolet;
    position: relative;
    top: 27.7%;
    left: 27.7%;
 }

