*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../Img/istockphoto-826276628-612x612.jpg);
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 auto;
 }
.container.Header {
    background-color: #5fc369;
 }
 .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
  }
.header-logo {
    font-size: 32px;
    text-decoration: none;
    color: #ffffff;
 }
.header-search {
    padding: 8px;
    border: 2px solid #e4ffc5;
    border-radius: 5px;
    outline: none;
}
.backButton { 
    padding: 8px;
    margin-left: 8px;
    border: 2px solid #4d7054;
    border-radius: 5px;
    outline: none;
    color: #fafef9;
    background-color:#6ba12c;
}
.btn_load {
   text-align: center;
   visibility: hidden;
}
.loading-button {
   padding: 7px;
   margin: 10px;
   border: 2px solid #4d7054;
   border-radius: 5px;
   outline: none;
   color: #fafef9;
   background-color:#6ba12c;
}
.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
.recipe {
    width: 240px;
    margin: 10px;
    padding: 10px;
    position: relative;
    border: 5px solid #5d9a50;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaa8b5;
    box-sizing: border-box;
    background-color: #7ac157ae;
    object-fit: cover;
    transition: transform 400ms ease-out;
 }
 .recipe:hover {
    transform: scale(1.03);
    object-fit: cover;
 }
 .img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

.recipe_inner {
    position: relative;
 }
.reciper-cover {
    width: 100%;
    height: 100%;
 }
.recipe_title {
    font-size: 14px;
    color: #2a541b;
    font-weight: bold;
    text-align: center;
 }
.recipe_ingr {
    font-size: 12px;
    color: #000000;
    font-weight: bolder;
    text-align: justify;
 }

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1a191f;
    transition: width 2s;
    overflow-x: hidden;
    word-wrap: break-word;
} 
.modal--show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__card {
    box-shadow: 0 0 20px 0 #000000;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    padding: 10px;
    position: relative;
    border: 5px solid #a8ff9e;
    border-radius: 10px;
    box-sizing: border-box;
    background:-webkit-linear-gradient(top, rgb(197, 255, 163) 0%,rgb(89, 190, 84) 50%,rgb(21, 104, 46) 100%);
 }
 .modal__recipe-overview {
 color: #a8ff9e;
}
a {
   color: #a8ff9e; 
}
 .modal__recipe-backdrop {
    width: 200px;
    margin: 0 auto;
 }
.modal__recipe-title {
   padding-top: 5px;
   text-align: center;
   color: #142c19;
}
.modal__button-close {
    padding: 5px;
    margin: 10px;
    align-self: center;
    border: 2px solid #9dc493;
    border-radius: 5px;
    outline: none;
    color: #d3dbd1;
    background-color:#2ca141;
 } 
 .stop-scrolling {
    height: 100%;
    overflow: hidden;
 }
 /* .pagination {
    display: flex;
    justify-content: center;
 }
 .pagination_list {
    display: flex;
    list-style-type: none;
 }
 .pagination_item {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
 }
 .pagination_item-active {
    font-weight: 800;
    color: #acc4ff;
 } */